.rdtPicker{
    position: relative;
    max-width: 450px;
    background-color: rgba(43, 50, 59);
    color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}
.rdtSwitch:hover, .rdtPrev:hover, .rdtNext:hover {
    background-color: rgb(105, 105, 105)!important;
    border-radius: 5px ;
}
.rdtPicker th {
    border-bottom: 1px solid #979797;
}
.rdtPicker td:hover {
    background-color: rgb(105, 105, 105) !important;
    /* cursor: pointer; */
}

.rdtPicker tfoot {
    border-top: 1px solid #979797;
}
.rdtCounters {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 5px;
    margin-top: 9px;
    
    gap: 8px;
}
.rdtTime td:hover{
    background-color: rgba(43, 50, 59)!important;
}
.rdtCounter {
    height: 200px;
    width: 80px;
    margin-top: 10px;
}
.rdtCounter .rdtBtn{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rdtCounter .rdtBtn:hover {
background-color: rgb(105, 105, 105) !important;
}
.rdtCounter div{
    padding-right: 5px;
}
.rdtCounter .rdtCount {
    /* height: 70%; */
    font-size: 3rem;
    height: 40%;
}
.rdtCounterSeparator{
    font-size: 60px;
    line-height: 130px;
}

.rdtTime table thead tr .rdtSwitch{
    border-bottom: 1px rgb(161, 161, 161) solid;

}.rdtTime table thead tr .rdtSwitch:hover {
    background-color: rgb(105, 105, 105) !important;
    cursor: pointer;    
}