@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Myfont';
  src: url('./fonts/MuktaMalar-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Myfont', sans-serif;
  font-style: normal;
  /* Use the font family in your styles */
}


/* GradientWaveButton.css */
@keyframes waveAnimation {

  0%,
  100% {
    border-image-source: linear-gradient(to right, var(--color1), var(--color2), var(--color4));
  }

  

  50% {
    border-image-source: linear-gradient(to right, var(--color4), var(--color1), var(--color2));
  }

  75% {
    border-image-source: linear-gradient(to right, var(--color4), var(--color1), var(--color2));
  }
}

.gradient-wave-button {
  border-width: 4px;
  border-style: solid;
  border-image-slice: 1;
  animation: waveAnimation 3s infinite;
  
  background: linear-gradient(to right, var(--color1), var(--color2), var(--color4),);
}

:root {
  --color1: #ff0062;
  --color2: #ff1ce1;
  
  --color4: #23b9f5;
  
}