@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* splider */
@import '@splidejs/react-splide/css';
@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';
@import '@splidejs/react-splide/css/core';


body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Myfont';
  src: url('./fonts/PublicSans-VariableFont_wght.ttf') format('woff');
}


.splide__arrow {
  /* background-color: #fff; */
  color: #3233;
  font-size: 24px;
  /* border-radius: 50%; */
  width: 40px;
  height: 70px;
  margin-left: -49px;
    margin-right: -49px;
  margin-top: -20px; /* Adjust vertical position */
}

.splide__pagination__page {
  background-color: #ddd;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.splide__pagination__page.splide__pagination__page--active {
  background-color: #333;
}



body {
  font-family: 'Myfont', sans-serif;
  font-style: normal;
  /* Use the font family in your styles */
}


.glow-on-hover {
  min-width: 180px;
  font-size: 20px;
  height: 55px;
  border: none;
  outline: none;
  color: #fff;
  background: #857373;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;
  
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300,  #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(0px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  border-radius: 50px;
}

.glow-on-hover:active {
  color: #b64949
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #252222;
  left: 0;
  top: 0;
  border-radius: 50px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}








.sidebar {
  background-color: #333;
  color: white;
  width: 65%;
  z-index: 10;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -65%;
  /* Initially off-screen */
  transition: left 0.2s ease-in-out;
  /* Transition for left property */
  padding: 20px;
}

.sidebar.visible {
  left: 0;
  /* Move the sidebar to the visible position */
}


.special-bg{
  background-color: #2b323b;
}